.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-75 {
    margin-top: 75px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-top-150 {
    margin-top: 15px;
}

.margin-top-200 {
    margin-top: 200px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-75 {
    margin-bottom: 75px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

.margin-bottom-150 {
    margin-bottom: 150px;
}

.margin-bottom-200 {
    margin-bottom: 200px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-25 {
    padding-top: 25px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-top-75 {
    padding-top: 75px;
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-top-150 {
    padding-top: 150px;
}

.padding-top-200 {
    padding-top: 200px;
}

.padding-top-250 {
    padding-top: 250px;
}

.padding-top-300 {
    padding-top: 300px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-25 {
    padding-bottom: 25px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-bottom-75 {
    padding-bottom: 75px;
}

.padding-bottom-100 {
    padding-bottom: 100px;
}

.padding-bottom-150 {
    padding-bottom: 150px;
}

.padding-bottom-200 {
    padding-bottom: 200px;
}

.padding-bottom-250 {
    padding-bottom: 250px;
}

.padding-bottom-300 {
    padding-bottom: 300px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-left-25 {
    padding-left: 25px;
}

.padding-left-50 {
    padding-left: 50px;
}

.padding-left-75 {
    padding-left: 75px;
}

.padding-left-100 {
    padding-left: 100px;
}

.padding-left-150 {
    padding-left: 150px;
}

.padding-left-200 {
    padding-left: 200px;
}

.padding-left-250 {
    padding-left: 250px;
}

.padding-left-300 {
    padding-left: 300px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-right-25 {
    padding-right: 25px;
}

.padding-right-50 {
    padding-right: 50px;
}

.padding-right-75 {
    padding-right: 75px;
}

.padding-right-100 {
    padding-right: 100px;
}

.padding-right-150 {
    padding-right: 150px;
}

.padding-right-200 {
    padding-right: 200px;
}

.padding-right-250 {
    padding-right: 250px;
}

.padding-right-300 {
    padding-right: 300px;
}

.center-100-percent {
    margin: 0 auto;
    width: 100%;
}

.center-95-percent {
    margin: 0 auto;
    width: 95%;
}

.center-90-percent {
    margin: 0 auto;
    width: 90%;
}

.center-85-percent {
    margin: 0 auto;
    width: 85%;
}

.center-80-percent {
    margin: 0 auto;
    width: 80%;
}

.center-75-percent {
    margin: 0 auto;
    width: 75%;
}

.center-70-percent {
    margin: 0 auto;
    width: 70%;
}

.center-65-percent {
    margin: 0 auto;
    width: 65%;
}

.center-60-percent {
    margin: 0 auto;
    width: 60%;
}

.center-55-percent {
    margin: 0 auto;
    width: 55%;
}

.center-50-percent {
    margin: 0 auto;
    width: 50%;
}

.center-45-percent {
    margin: 0 auto;
    width: 45%;
}

.center-40-percent {
    margin: 0 auto;
    width: 40%;
}

.center-35-percent {
    margin: 0 auto;
    width: 35%;
}

.center-30-percent {
    margin: 0 auto;
    width: 30%;
}

.center-25-percent {
    margin: 0 auto;
    width: 25%;
}

.center-20-percent {
    margin: 0 auto;
    width: 20%;
}

.center-15-percent {
    margin: 0 auto;
    width: 15%;
}

.center-10-percent {
    margin: 0 auto;
    width: 10%;
}

.center-5-percent {
    margin: 0 auto;
    width: 5%;
}

.center-0-percent {
    margin: 0 auto;
    width: 0%;
}

.center-10-px {
    margin: 0 auto;
    width: 10px;
}

.center-20-px {
    margin: 0 auto;
    width: 20px;
}

.center-50-px {
    margin: 0 auto;
    width: 50px;
}

.center-75-px {
    margin: 0 auto;
    width: 75px;
}

.center-100-px {
    margin: 0 auto;
    width: 100px;
}

.center-150-px {
    margin: 0 auto;
    width: 150px;
}

.center-200-px {
    margin: 0 auto;
    width: 200px;
}

.center-250-px {
    margin: 0 auto;
    width: 250px;
}

.center-300-px {
    margin: 0 auto;
    width: 300px;
}

.center-400-px {
    margin: 0 auto;
    width: 400px;
}

.center-500-px {
    margin: 0 auto;
    width: 500px;
}

.center-600-px {
    margin: 0 auto;
    width: 600px;
}

.center-700-px {
    margin: 0 auto;
    width: 700px;
}

.center-800-px {
    margin: 0 auto;
    width: 800px;
}

.center-900-px {
    margin: 0 auto;
    width: 900px;
}

.center-1000-px {
    margin: 0 auto;
    width: 1000px;
}

.height-10-px {
    height: 10px;
}

.height-20-px {
    height: 20px;
}

.height-50-px {
    height: 50px;
}

.height-75-px {
    height: 75px;
}

.height-100-px {
    height: 100px;
}

.height-150-px {
    height: 250px;
}

.height-200-px {
    height: 200px;
}

.height-250-px {
    height: 250px;
}

.height-300-px {
    height: 300px;
}

.height-400-px {
    height: 400px;
}

.height-500-px {
    height: 500px;
}

.height-600-px {
    height: 600px;
}

.height-700-px {
    height: 700px;
}

.height-800-px {
    height: 800px;
}

.height-900-px {
    height: 900px;
}

.height-1000-px {
    height: 1000px;
}

.width-10-px {
    width: 10px;
}

.width-20-px {
    width: 20px;
}

.width-50-px {
    width: 50px;
}

.width-75-px {
    width: 75px;
}

.width-100-px {
    width: 100px;
}

.width-150-px {
    width: 250px;
}

.width-200-px {
    width: 200px;
}

.width-250-px {
    width: 250px;
}

.width-300-px {
    width: 300px;
}

.width-400-px {
    width: 400px;
}

.width-500-px {
    width: 500px;
}

.width-600-px {
    width: 600px;
}

.width-700-px {
    width: 700px;
}

.width-800-px {
    width: 800px;
}

.width-900-px {
    width: 900px;
}

.width-1000-px {
    width: 1000px;
}

.gap-2 {
    width: 50%;
}

.gap-3 {
    width: 33%;
}

.gap-4 {
    width: 25%;
}

.gap-20-px {
    width: 20px;
}

.gap-50-px {
    width: 50px;
}

.gap-75-px {
    width: 75px;
}

.gap-100-px {
    width: 100px;
}

.gap-150-px {
    width: 150px;
}

.gap-200-px {
    width: 200px;
}

.gap-250-px {
    width: 250px;
}

.gap-300-px {
    width: 300px;
}

.gap-400-px {
    width: 400px;
}

.gap-500-px {
    width: 500px;
}

.gap-600-px {
    width: 600px;
}

.gap-700-px {
    width: 700px;
}

.gap-800-px {
    width: 800px;
}

.gap-900-px {
    width: 900px
}

.gap-1000-px {
    width: 1000px;
}

.color-pink {
    color: #E2329F;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.bg-color-pink {
    background-color: #E2329F;
}

.bg-color-white {
    background-color: white;
}

.bg-color-black {
    background-color: black;
}