/*.container{
	width: 100%;
}*/


/* navbar */

header .btnPink {
    background-color: #ED008C;
    border-radius: 35px !important;
    height: 28px;
    width: 100px;
}

header .navleft {
    padding-left: 8%;
}

header .navright {
    padding-right: 20%;
}


/* ACCEUIL */

.bg_top_page {
    background-image: url("../images/fondDecran.png");
    height: 600px;
    border-bottom-right-radius: 50% 100px;
    border-bottom-left-radius: 50% 100px;
}

.acceuil .titreAcceuil {
    font-size: 50px;
    padding-left: 270px;
}

.acceuil .txtAcceuil {
    font-size: 15px;
    padding-left: 280px;
}

.acceuil .imgAcceuil2 {
    padding-right: 280px;
    padding-top: 40px;
    width: 780px;
}

.acceuil .butonAcceuil {
    margin-left: 280px;
}


/*section 2*/

.section2 {
    padding-top: 140px;
    padding-bottom: 140px;
}

.section2 .textDiv {
    width: 33%;
}

.section2 .tailleImg {
    size: 45px;
}


/* section3 */

.section3 {
    background-color: #EEEEEE;
}


/* big black */

.bigBlack {
    background-color: #1A2D34;
}

.bigBlack .iplay {
    display: inline-block;
}

.bigBlack h2 {
    color: #FFFFFF;
    display: inline-block;
    padding-top: 200px;
    padding-bottom: 200px;
}


/* big pink */

.bigPink {
    background-color: #DB008B;
    margin: 0;
    padding-bottom: 100px;
}

.bigPink h1 {
    text-align: center;
    color: #fff;
    margin: 0;
    padding-top: 50px;
}

.bigPink p {
    text-align: center;
    font-size: 12px;
    color: #fff;
    padding-top: 10px;
}

.buttonMarqueDiv {
    background-color: #DB008B;
    padding-top: 50px;
    padding-left: 350px;
}

.buttonMarqueDiv2 {
    background-color: #DB008B;
    padding-top: 10px;
    padding-left: 400px;
}

.imgMarque {
    width: 30px;
    padding-right: 4px;
}


/* FAQ */

.faqDiv h1 {
    text-align: center;
    margin: 0;
    padding-top: 50px;
}

.faqDiv .pDeFaq {
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
}

.ButtonFaq {
    padding-left: 35%;
}

.abo {
    text-align: center;
    font-size: 10px;
    padding-top: 25px;
    padding-bottom: 100px;
}

.aboLien {
    color: #E40034;
}


/* LIEN */

.linkAll {
    background-color: #000000;
}

.links {
    color: #B7B7B7;
    font-size: 10px;
    display: inline;
}

.links a {
    color: #FFFFFF;
}

.linksImg {
    display: inline;
}